div.acord {

}

div.centrado {
    top: 2208px;
left: 596px;
width: 770px;
height: 768px;
background: transparent  0% 0% no-repeat padding-box;
opacity: 1;
}
.centrado img {
    height: 500px;
}

div.todo {
    top: 2208px;
left: 0px;
width: 1366px;
height: 768px;
}

